1. Iterable data types and iterator

1.2 Checking if it's an iterable data type

In [1]:
try: 
    n=100
    iterator = iter(n)
except TypeError:
    print("Number is not iterable data type.")
else:
    print("Number is iterable data type.")

Number is not iterable data type.

In [2]:
try: 
    l = [10,20,30]
    iterator = iter(l)
except TypeError:
    print("list is not iterable data type.")
else:
    print("list is iterable data type.")

list is iterable data type.

In [3]:
try: 
    t = (10,20,30)
    iterator = iter(t)
except TypeError:
    print("tuple is not iterable data type.")
else:
    print("tuple is iterable data type.")

tuple is iterable data type.

In [4]:
try:
    s= "string"
    iterator = iter(s)
except TypeError : 
    print("String is not iterable data type.")
else: 
    print("String is iterable data type.")

String is iterable data type.

In [7]:
try: 
    n=100
    iterator = iter(n)
except Exception as e:
    print(e)

'int' object is not iterable

1.3 Built-in functions that take iterable data types as parameters

* The all function returns True only if all elements in the iterable are true. if there is a 0,", or none value inside, it returns False.

In [8]:
#all function

l1 = [1,2,3,4]
l2 = [0,2,4,8]
l3 = [0,0,0,0]

print(all(l1))
print(all(l2))
print(all(l3))

True
False
False

* The any function returns True if at least one element in the iterable is true.

In [9]:
#any function

l1 = [1,2,3,4]
l2 = [0,2,4,8]
l3 = [0,0,0,0]

print(any(l1))
print(any(l2))
print(any(l3))

True
True
False

1.4 The iter function and the next function

. We can see that the list data type with elements [10,20,30] is converted   to an iterator using the iter function.
. The iter function takes an iterable data type as agrument and returns an   iterator.
. The iter function is usually used together with the next function.
. The next function takes an iterator as agrument and returns the next       element to be output.

In [20]:
iter_a = iter([10,20,30])

print(next(iter_a))
print(next(iter_a))
print(next(iter_a))
# print(next(iter_a)) # stop iteration error because it out of list index range


#The code below is error because list do not have built-in feature
#to output elements in order (if we want to use next use iter() to convert list first)

# a=[10,20,30]
# print(next(a))

10
20
30

In [25]:
lst = [10,20,30]
l_iter = iter(lst)

print(type(l_iter))

print(next(l_iter))
print(next(l_iter))
print(next(l_iter))

<class 'list_iterator'>
10
20
30

1.6 Converting an iterator, which can only read values once, into an           iterable data type

However, once it has been converted using a data type conversion function,
it cannot be used again with the data type conversion function.

An empty data type is returned because all elements have been consumed and 
there are no more elements to return.

In [32]:
iter1 = iter([10,20,30])

print(iter1)
print(list(iter1)) #type conversion only use once
print(tuple(iter1))

<list_iterator object at 0x109c5c9d0>
(10, 20, 30)
[]

Since an iterator consumes all elements once it has been traversed, once it has been converted using a data type conversion function, it cannot be
used again with the data type conversion function. To use it again, a new iterator must be created.

In [33]:
iter1 = iter([10,20,30])

print(iter1)
print(tuple(iter1))

<list_iterator object at 0x108eb9a80>
(10, 20, 30)

2. Set

2.1 Set, collection of unordered objects

. set used in python are similar to mathematical set and can perform         various set operations such as intersection,unioun,difference, and         summetric differnce.
. Set has the characteristic of not allowing duplicates of items with the   value, and unlike sequence type like list or tuple, it is unordered data   type.

2.2 Defining a set

In [34]:
#empty set
numbers = set()
print(numbers)

set()

In [35]:
days_list = ["Mon","Tue","Wed","Thu","Fri","Sat","Sun"]
days_set = set(days_list)
print(days_set) 
#since the set is a collection of unordered elements, indexing cannot be used

{'Fri', 'Sun', 'Mon', 'Sat', 'Wed', 'Tue', 'Thu'}

In [36]:
fruits_tuple = ("apple","orange","water melon")
fruits_set = set(fruits_tuple)
print(fruits_set)

{'orange', 'apple', 'water melon'}

In [37]:
print(set([1,2,3,1,2]))

#It is also posible to create a set from a list as shown above.
#However, in the set data type,
#it there are duplicate elements, they are automatically removed

{1, 2, 3}

In [38]:
# It is also possible to create a set from a string
# In this case, each character becomes a single element.

print(set("abcdefa"))

{'d', 'b', 'f', 'a', 'e', 'c'}

In [39]:
h_str = "hello"
h_set = set(h_str)

print(h_set)

{'o', 'e', 'h', 'l'}

2.3 Membership operators for searching specific elements: in,not in

In [41]:
numbers = {2,1,3}

if 1 in numbers:
    print("There is a 1 in the set.")
    
if 7 not in numbers:
    print("There is not a 7 in the set.")

There is a 1 in the set.
There is not a 7 in the set.

2.4 Difference between a set and a sequence data type

. sets are unordered collections of unique elements and do not allow         duplicates. Therefore, a set is not a sequence data type and do not have   the index. (indexing and slicing are meaningless)

In [43]:
numbers = {1,2,3}

numbers.add(4) #add element to set 
print(numbers)

numbers.remove(1) #remove element to set 
print(numbers)

{1, 2, 3, 4}
{2, 3, 4}

2.5 Accessing sets using loops with iterable data type

In [52]:
numbers = {2,3,6,5,9,4,7}

for x in numbers :
    print(x,end=" ")
          
print()
print()
print("sorted set")

for x in sorted(numbers):
    print(x,end=" ")

2 3 4 5 6 7 9

sorted set
2 3 4 5 6 7 9

2.6 Sorting with the sorted function

In [57]:
numbers = {2,3,6,5,9,4,7}
print(type(numbers))
print(numbers)

numbers = sorted(numbers)
print(type(numbers))
print(numbers)
print("After sorted it become a list")

<class 'set'>
{2, 3, 4, 5, 6, 7, 9}
<class 'list'>
[2, 3, 4, 5, 6, 7, 9]
After sorted it become a list

2.7 Creating sets using one-liner loop

In [58]:
a = {i for i in "apple"}

print(a)

{'e', 'a', 'l', 'p'}

2.8 Creating sets using one-line expressions with loops and conditions

In [60]:
a = {i for i in "pineapple" if i not in "apl"}

print(a)

{'e', 'n', 'i'}

2.9 Built-in functions that take a set as parameter

In [63]:
a_set = {1,5,4,3,7,4}
print(len(a_set))

print(max(a_set))
print(min(a_set))
print(sorted(a_set))
print(sum(a_set))

b_set = {1,0,2,3,3}
print(all(b_set), any(b_set))

5
7
1
[1, 3, 4, 5, 7]
20
False True

3.2 Union operator and method

In [69]:
s1={1,2,3,4,5,6}
s2={4,5,6,7,8,9}
print("s1 union s2 :",s1|s2)
print("s1 union s2 :",s1.union(s2))

s1 union s2 : {1, 2, 3, 4, 5, 6, 7, 8, 9}
s1 union s2 : {1, 2, 3, 4, 5, 6, 7, 8, 9}

In [70]:
s1={1,2,3,4,5,6}
s2={4,5,6,7,8,9}
print("s1 intersection s2 :",s1&s2)
print("s1 intersection s2 :",s1.intersection(s2))

s1 intersection s2 : {4, 5, 6}
s1 intersection s2 : {4, 5, 6}

In [75]:
s1={1,2,3,4,5,6}
s2={4,5,6,7,8,9}
print("s1 difference s2 :",s1-s2)
print("s1 difference s2 :",s1.difference(s2))
print("="*30)
print("s2 difference s1 :",s2-s1)
print("s2 difference s1 :",s2.difference(s1))

s1 difference s2 : {1, 2, 3}
s1 difference s2 : {1, 2, 3}
==============================
s2 difference s1 : {8, 9, 7}
s2 difference s1 : {8, 9, 7}

In [76]:
s1={1,2,3,4,5,6}
s2={4,5,6,7,8,9}
print("s1 symmetric_difference s2 :",s1^s2)
print("s1 symmetric_difference s2 :",s1.symmetric_difference(s2))

s1 symmetric_difference s2 : {1, 2, 3, 7, 8, 9}
s1 symmetric_difference s2 : {1, 2, 3, 7, 8, 9}

3.6 Set operator practice

In [77]:
s1={1,2,3,4,5,6}
s2={4,5,6,7,8,9}

print("s1 union s2 :",s1|s2)
print("s1 intersection s2 :",s1&s2)
print("s1 difference s2 :",s1-s2)
print("s1 symmetric_difference s2 :",s1^s2)

s1 union s2 : {1, 2, 3, 4, 5, 6, 7, 8, 9}
s1 intersection s2 : {4, 5, 6}
s1 difference s2 : {1, 2, 3}
s1 symmetric_difference s2 : {1, 2, 3, 7, 8, 9}

3.7 Set method practice

In [78]:
s1={1,2,3,4,5,6}
s2={4,5,6,7,8,9}

print("s1 union s2 :",s1.union(s2))
print("s1 intersection s2 :",s1.intersection(s2))
print("s1 difference s2 :",s1.difference(s2))
print("s1 symmetric_difference s2 :",s1.symmetric_difference(s2))

s1 union s2 : {1, 2, 3, 4, 5, 6, 7, 8, 9}
s1 intersection s2 : {4, 5, 6}
s1 difference s2 : {1, 2, 3}
s1 symmetric_difference s2 : {1, 2, 3, 7, 8, 9}

3.8 Using sequential operators

In [79]:
s1 = {1,2,3,4,5,6}
s2 = {4,5,6,7,8,9}
s3 = {5,6,9,10,11}

print(s1&s2&s3)
print(s1-s2-s3)

{5, 6}
{1, 2, 3}

3.10 Subset method and superset method

subset : If every element of set A belongs to another set B, then A is subset of B

. Since B contains everything that A has, B is a superset of A

Ex : A = {1,2} , B = {1,2,3} A is subset of B

In [84]:
s1 = {1,2,3,4,5}
s2 = {1,2,3}
s3 = {1,2,6}

print("s2 is subset of s1 :",s2.issubset(s1))
print("s3 is subset of s1 :",s3.issubset(s1))
print("s1 is superset of s2 :",s1.issuperset(s2))
print("s1 is superset of s3 :",s1.issuperset(s3))

s2 is subset of s1 : True
s3 is subset of s1 : False
s1 is superset of s2 : True
s1 is superset of s3 : False

In [86]:
# Disjoint method

s1 = {1,2,3}
s2 = {10,20,30}

print("s1 is disjoint s2 :",s1.isdisjoint(s2))

s1 is disjoint s2 : True

3.12 Cartesian product or cartesian multiplication example

In [2]:
A = {1,3}
B = {2,4}

res = set()
for i in A:
    for j in B:
        res = res | {(i,j)}
        
print(res)
AxB = res
print("A =",A)
print("B =",B)
print("AxB =",AxB)

{(3, 2), (1, 2), (3, 4), (1, 4)}
A = {1, 3}
B = {2, 4}
AxB = {(3, 2), (1, 2), (3, 4), (1, 4)}

3.13 set and comparison operator

In [98]:
A={1,2,3}
B={1,2,3}
print(A==B)
print(A!=B)

True
False

. other operators like <,<= can be used to check if a set is proper subset   or a subset.
. A proper subset refers to a subset of the universal set that excludes     the set itself
. In the following code, B is a subset of A, but B is not equal to A. In     this case B is called a proper subset.

In [5]:
A={1,2,3,4,5}
B={1,2,3}

print(B<A)

True

3.14 Example of finding divisors and greatest common divisor of two numbers

In [6]:
num = 10
divisors = []

for i in range(2,num):
    if num % i == 0:
        divisors.append(i)
        
print("proper divisor of",num,":",divisors)

proper divisor of 10 : [2, 5]

In [11]:
num1 = 48 
divisors1 = set()
num2 = 60
divisors2 = set()

for i in range(2,num1):
    if num1 % i == 0 :
        divisors1.add(i)
print("proper divisors of ,",num1,":",divisors1)

for i in range(2,num2):
    if num2 % i == 0:
        divisors2.add(i)
print("proper divisors of ,",num2,":",divisors2)

common_divisor=divisors1.intersection(divisors2)
print(common_divisor)
print("The common factor of",num1,num2,":",max(common_divisor))

proper divisors of , 48 : {2, 3, 4, 6, 8, 12, 16, 24}
proper divisors of , 60 : {2, 3, 4, 5, 6, 10, 12, 15, 20, 30}
{2, 3, 4, 6, 12}
The common factor of 48 60 : 12

4. Aggregation using the zip function

4.1 Iterable data types as parameters of the zip function

. Iterable data types incluse lists, dictionaries,sets and tuples.
. When multiple tierable data types are passed to the zip function, it       returns an iterator form of tuple aggregates(zip) of these iterable data   types. This is called aggregation.
. If only one iterable data type argument is passed, the zip function       aggregates each element of the iterable data type into a single tuple     element.
. If multiple iterable data type arguments are passed, it aggregates them   into tuples ass many as the number of agruments.
. The i-th tuple, whick is aggregated, is filled wiht the i-th elements of   the iterable data types passed as the parameters of the zip function.

In [12]:
empty_iterator = zip() # if no agruments are passed to the zip function returns empty tuple elements
result = set(empty_iterator)
print(result)

set()

In [18]:
a = [10,20,30]
b = ("ten","twenty","thirty")

for val in zip(a,b):
    print(val)

(10, 'ten')
(20, 'twenty')
(30, 'thirty')

In [26]:
str_list = ["hello","world","python","rocks"]
int_tuple = (1,2,3) # it zip follow the minimum index of agruments that pass to function
int_list = [400,500,600,700,800]
my_iterator = zip(str_list, int_tuple,int_list)
print(list(my_iterator))

[('hello', 1, 400), ('world', 2, 500), ('python', 3, 600)]

In [28]:
lst = ["a","b","hello","this"]
my_iterator = zip(lst)
result = set(my_iterator)
print(result)

{('b',), ('a',), ('this',), ('hello',)}

In [32]:
#unpacking zip

str_list = ["hello","world","python","rocks"]
int_tuple = (1,2,3) 
int_list = [400,500,600,700,800]

zip_lst = list(zip(str_list,int_tuple,int_list))
print(zip_lst)

a,b,c = zip(*zip_lst)
print(a,b,c)

[('hello', 1, 400), ('world', 2, 500), ('python', 3, 600)]
('hello', 'world', 'python') (1, 2, 3) (400, 500, 600)

Paper coding

In [33]:
#Q1
lst =["apple","mango","banana"]

s1=set(lst)
print(s1)

{'mango', 'banana', 'apple'}

In [36]:
#Q2
s1 = {10,20,30,40}
s2 = {30,40,50,60,70}

print(sorted(s1 | s2))
print(s1 & s2)
print(s1 - s2)
print(s1 ^ s2)
print(s1.issubset(s2))
print(s1.issubset(s2))
print(s1.isdisjoint(s2))

[10, 20, 30, 40, 50, 60, 70]
{40, 30}
{10, 20}
{50, 20, 70, 10, 60}
False
False
False

Let's code

In [36]:
cases = []

for i in range(1,7):
    for j in range(i,7):
            cases.append((i,j,k))
            
print("There are :",len(cases),"cases that can occur by throwing the dice three times.")           

total_cases = len(cases)

for i in range(3,19):
    n_cases = 0
    for c in cases:
        if sum(c) >= i:
            n_cases += 1
    prob = n_cases * 100/ total_cases
    print("Probability of obtaining more than {:^2} by the sum of the sports of a dice {:3.2f}%".format(i,prob))

There are : 56 cases
Probability of obtaining more than 3  by the sum of the sports of a dice 100.00%
Probability of obtaining more than 4  by the sum of the sports of a dice 98.21%
Probability of obtaining more than 5  by the sum of the sports of a dice 96.43%
Probability of obtaining more than 6  by the sum of the sports of a dice 92.86%
Probability of obtaining more than 7  by the sum of the sports of a dice 87.50%
Probability of obtaining more than 8  by the sum of the sports of a dice 80.36%
Probability of obtaining more than 9  by the sum of the sports of a dice 71.43%
Probability of obtaining more than 10 by the sum of the sports of a dice 60.71%
Probability of obtaining more than 11 by the sum of the sports of a dice 50.00%
Probability of obtaining more than 12 by the sum of the sports of a dice 39.29%
Probability of obtaining more than 13 by the sum of the sports of a dice 28.57%
Probability of obtaining more than 14 by the sum of the sports of a dice 19.64%
Probability of obtaining more than 15 by the sum of the sports of a dice 12.50%
Probability of obtaining more than 16 by the sum of the sports of a dice 7.14%
Probability of obtaining more than 17 by the sum of the sports of a dice 3.57%
Probability of obtaining more than 18 by the sum of the sports of a dice 1.79%

Pair programming

In [2]:
mylist = [(1,2),(4,5),(4,2),(3,1),(9,3)]

a,b = input("Enter two integer : ").split()
a,b =int(a),int(b)
# print(set(mylist))
# print(set([a,b]))

for i in range(len(mylist)):
    if (a,b) in mylist:
        print(f"There is a {(a,b)} element at the {i+1} position.")
        break
    elif

Enter two integer : 1 2
There is a (1, 2) element at the 1 position.