# 1 Lambda Functions

## 1.3 Converting a regular function to lambda

In [ ]:
def add (x,y) : 
    return x + y

print("sum : ",add(100,200))

In [4]:
#lambda function

add = lambda x,y : x + y
print("The sum of 100 and 200 :",add(100,200))


print("The sum of 100 and 200 : ",(lambda a,b : a * b)(10,2))

The sum of 100 and 200 : 300
The sum of 100 and 200 :  20

## 1.4 Functions that take 'iterable data type' and 'function' as parameters

* Python provides built-in functions called 'filter' and 'map', which take two parameters that   are the iterable data type and a funciton referred to as 'mapping funciton'. The mapping       function is applied to each element of the iterable data type.

* Using lambda as the mapping function in filter and map imporves performance reducing the       overhead of function calls.
* However, there is a drawback if there are many funciton calls. Storing the state before a function call and restoring the previous state after the function call occurs frequently. This slows down the program's execution.

# 2. Lambda used as an argument in the filter function

## 2.1 What is the filter function?

* Python provides various types of functions. Let's learn about the filter function.
* The filter function takes iterable elements,applies a function to them, and returns only the elements for which the function returns True.
* The syntax of the filter function is as follows :
    filter(function_to_apply, {iterable data type} )

## 2.2 Example of using the filter function : Regular function

In [5]:
def adult_func(n) :
    if n >= 19 :
        return True
    else :
        return False
    
ages = [34,39,20,18,13,54]
print("The list of adult : ")
for a in filter(adult_func,ages) :
    print(a,end=" ")

The list of adult :
34 39 20 54

## 2.3 Example of using the filter funciton:lambda

In [6]:
ages = [34,39,20,18,13,54]
print("The list of adult : ")
for a in filter(lambda x : x >=19,ages) :
    print(a,end=" ")

The list of adult :
34 39 20 54

# 3 Lambda used as an argument in the map function

## 3.1 What is map function?

* The map function applies a specified mapping funciton to each element of an iterable data     type and returns an iterable data type.

## 3.2 Example without using the map function

In [7]:
a = [1,2,3,4,5,6,7]
square_a = []
for n in a :
    square_a.append(n**2)
print(square_a)

[1, 4, 9, 16, 25, 36, 49]

## 3.4 Example using map function: Regular function

* By using the map funciton and the square function, the previous code can be simplified as follows. The syntax of the map function is as follows.

    map(funciton_to_apply,iterable,...)
  
* The map function takes two or more agruments. The first argument is the mapping function, and the second argument is an iterable data type such as a list that will be inputted into the mapping funciton.

In [1]:
a = [1,2,3,4,5,6,7]
square_a = list(map(lambda x : x ** 2,a))
print(square_a)

[1, 4, 9, 16, 25, 36, 49]

### 4. Using lambda as an argument for the reduce function

### 4.1 What is the reduce function ?

* The 'reduce' function is include in a module calleed 'functools' and can   be used to perform operations on items of an iterable data type using a   given function and obtain a single value.

### 4.2 Example of using the reduce function

In [2]:
from functools import reduce

a = [1,2,3,4]
n = reduce(lambda x,y : x + y,a)
print(n)

10

* Firstly, the lambda funtion 'lambda x,y : x + y', whick adds two input     values, is applied to the first two values, 1 and  2, resulting in the     3. The reduce function applies this process to all elements of the list.
* Therefore, the return value of 3 is then passed along with the third       element,3,as the argument to put the lambda function, which returns the   sum of the two numbers, 6.
* This 6 value is then passed along with final element,4, as the argument   to put the lambda function, which returns in a final return value of 10.

## 5 One-liners and lambda

### 5.1. One-liners

* Let's review one-liners.
* Among the syntaxes one-liners, list comprehensions are as follows : 

* [ expression for variable in iterable or sequence data type ]
* [ expression for variable in iterable or sequence data type if condition]

In [4]:
print([x for x in range(10)])

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [5]:
print([x * x for x in range(10)])

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [10]:
print([x for x in range(10) if x % 2 == 0])

[0, 2, 4, 6, 8]

In [11]:
print([x for x in range(10) if x % 2 == 1])

[1, 3, 5, 7, 9]

In [12]:
print([x * x for x in range(10) if x % 2 == 0])

[0, 4, 16, 36, 64]

In [13]:
print([x * x for x in range(10) if x % 2 == 1])

[1, 9, 25, 49, 81]

In [14]:
s = input("Enter multiple integers : ").split()

lst = [int(x) for x in s]
print(lst)

Enter multiple integers : 1 2 3 4 5 6 7 8 9
[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [115]:
print([int(x) for x in input("Enter multiple integers : ").split(".")])

Enter multiple integers : 3.4.5
[3, 4, 5]

In [19]:
# nested loop
product_xy = []
for x in [1,2,3] :
    for y in [2,4,6] :
        product_xy.append(x * y)
print("Nested loop :",product_xy)


# one-liner
product_yx = [x * y for x in [1,2,3] for y in [2,4,6]]
print("One-liner :",product_yx)

Nested loop : [2, 4, 6, 4, 8, 12, 6, 12, 18]
One-liner : [2, 4, 6, 4, 8, 12, 6, 12, 18]

### 5.2 Comparing one-liners and lambda functions
* Calculating the squares of a list using the one-liner.

In [23]:
#one-liner
a = [1,2,3,4,5,6,7]
a = [x ** 2 for x in a]
print("one-liner :",a)

one-liner : [1, 4, 9, 16, 25, 36, 49]

In [24]:
#one-liner
a = [x ** 2 for x in range(1,8)]
print("one-liner :",a)

one-liner : [1, 4, 9, 16, 25, 36, 49]

In [26]:
# lambda functions
a = [1,2,3,4,5,6,7]
a = list(map(lambda x : x ** 2, a))
print("lambda :",a)

lambda : [1, 4, 9, 16, 25, 36, 49]

In [28]:
# filter and lambda

ages = [34,39,20,18,13,54]
adult_ages = list(filter(lambda x : x >= 19,ages))
print("The lsit of adult :",adult_ages)

The lsit of adult : [34, 39, 20, 54]

In [29]:
#one-liner 

ages = [34,39,20,18,13,54]
print("The lsit of adult :",[x for x in ages if x >= 19])

The lsit of adult : [34, 39, 20, 54]

* using one-liners and lambda to get a list of multiples of 2 and 3

In [30]:
#one-liner

print([n for n in range(1,31) if n %2 ==0 and n % 3 == 0])

[6, 12, 18, 24, 30]

In [31]:
# lambda functions

num = list(filter(lambda x : (x % 2 == 0 and x % 3 == 0),range(1,31)))
print(num)

[6, 12, 18, 24, 30]

* using one-liners and lambda to get a list of multiples of 2,3 and 5

In [32]:
#one-liner

print([n for n in range(1,31) if n % 2 ==0 if n % 3 == 0 if n % 5 == 0])

[30]

In [33]:
# lambda functions

num = list(filter(lambda x : (x % 2 == 0 and x % 3 == 0 and x % 5 == 0),range(1,31)))
print(num)

[30]

### 19. 3 Paper coding

In [64]:
#Q1
n_list = [1,2,3,4,5,6,7,8,9,10]
even_list =[]
for x in filter(lambda x : (x%2 == 0),n_list) :
    even_list.append(x)


print(even_list)

[2, 4, 6, 8, 10]

In [65]:
#Q2

n_list = [1,2,3,4,5,6,7,8,9,10]
even_list = list(filter(lambda x : (x%2 == 0),n_list))

print(even_list)

[2, 4, 6, 8, 10]

In [75]:
#Q3 

def to_upper (letter) :
    return letter.upper() 

a_list = ['a','b','c','d']
upper_a_list = list(map(lambda x : to_upper(x),a_list))

print(upper_a_list)

['A', 'B', 'C', 'D']

In [97]:
#Q4
from functools import reduce

sum_num = reduce(lambda x,y: (x+y),range(1,101))

print("The sum of integers from 1 to 100 :",sum_num)

The sum of integers from 1 to 100 : 5050

### 19.4 Let's Code

In [118]:

# date = input("Please enter date separately by '.' (e.g., 1917.6.10): ").split(".")
# date = [int(x) for x in date]
date = [int(x) for x in input("Enter multiple integers : ").split(".")]

def check_year (date) :
    sherlock_series = [1887,1890,1892,1894,1901,1905,1915,1917,1927]
    isYear = lambda year : year in sherlock_series
    return isYear

print(check_year(date[0]))

Enter multiple integers : 1887.3.3
<function check_year.<locals>.<lambda> at 0x10ec7b5b0>

In [124]:
def valid_date(date) : 
        sherlock_series = [1887,1890,1892,1894,1901,1905,1915,1917,1927]
        days=[31,29,31,30,31,30,31,31,30,31,30,31]
        splitted = date.split('.')
        year = int(splitted[0])
        month = int(splitted[1])
        day = int(splitted[2])
        is_Sherlock_book_yr = lambda x : x in sherlock_series
        
        if not is_Sherlock_book_yr(year) :
            print("This is not a publication year of Sherlock Holmes series.")
            return False
        if month < 1 or month > 12 :
            print("Invalid month.")
            return False
        if day < 1 or day > days[month-1]:
            print("Invalid day.")
            return False        
        
        return True
    
date = input("Please enter date separately by '.' (e.g., 1917.6.10 :)")
if valid_date(date) == True :
    print("This is a publication date of Sherlock Holmes!")
else:
    print("This is not a publication date of Sherlock Holmes or you entered it incorrectly.")

Please enter date separately by '.' (e.g., 1917.6.10 :)1892.32.24
Invalid month.
This is not a publication date of Sherlock Holmes or you entered it incorrectly.

### 19.5 Pair Programming

In [126]:
scores = [100,90,95,90,80,70,0,80,90,90,0,90,100,75,20,30,50,90]
a=0
b=3
for i in range(0,len(scores)/6) :
    print

6.0