1. Iterable data types and iterator

1.2 Checking if it's an iterable data type

In [1]:
try: 
    n=100
    iterator = iter(n)
except TypeError:
    print("Number is not iterable data type.")
else:
    print("Number is iterable data type.")

Number is not iterable data type.

In [2]:
try: 
    l = [10,20,30]
    iterator = iter(l)
except TypeError:
    print("list is not iterable data type.")
else:
    print("list is iterable data type.")

list is iterable data type.

In [3]:
try: 
    t = (10,20,30)
    iterator = iter(t)
except TypeError:
    print("tuple is not iterable data type.")
else:
    print("tuple is iterable data type.")

tuple is iterable data type.

In [4]:
try:
    s= "string"
    iterator = iter(s)
except TypeError : 
    print("String is not iterable data type.")
else: 
    print("String is iterable data type.")

String is iterable data type.

In [7]:
try: 
    n=100
    iterator = iter(n)
except Exception as e:
    print(e)

'int' object is not iterable

1.3 Built-in functions that take iterable data types as parameters

* The all function returns True only if all elements in the iterable are true. if there is a 0,", or none value inside, it returns False.

In [8]:
#all function

l1 = [1,2,3,4]
l2 = [0,2,4,8]
l3 = [0,0,0,0]

print(all(l1))
print(all(l2))
print(all(l3))

True
False
False

* The any function returns True if at least one element in the iterable is true.

In [9]:
#any function

l1 = [1,2,3,4]
l2 = [0,2,4,8]
l3 = [0,0,0,0]

print(any(l1))
print(any(l2))
print(any(l3))

True
True
False

1.4 The iter function and the next function

. We can see that the list data type with elements [10,20,30] is converted   to an iterator using the iter function.
. The iter function takes an iterable data type as agrument and returns an   iterator.
. The iter function is usually used together with the next function.
. The next function takes an iterator as agrument and returns the next       element to be output.

In [20]:
iter_a = iter([10,20,30])

print(next(iter_a))
print(next(iter_a))
print(next(iter_a))
# print(next(iter_a)) # stop iteration error because it out of list index range


#The code below is error because list do not have built-in feature
#to output elements in order (if we want to use next use iter() to convert list first)

# a=[10,20,30]
# print(next(a))

10
20
30

In [25]:
lst = [10,20,30]
l_iter = iter(lst)

print(type(l_iter))

print(next(l_iter))
print(next(l_iter))
print(next(l_iter))

<class 'list_iterator'>
10
20
30

1.6 Converting an iterator, which can only read values once, into an           iterable data type

However, once it has been converted using a data type convesion function,
it cannot be used again with the data type conversion function.

An empty data type is returned because all elements have been consumed and 
there are no more elements to return.

In [32]:
iter1 = iter([10,20,30])

print(iter1)
print(list(iter1)) #type conversion only use once
print(tuple(iter1))

<list_iterator object at 0x109c5c9d0>
(10, 20, 30)
[]

Since an iterator consumes all elements once it has been traversed, once it has been converted using a data type conversion function, it cannot be
used again with the data type conversion function. To use it again, a new iterator must be created.

In [33]:
iter1 = iter([10,20,30])

print(iter1)
print(tuple(iter1))

<list_iterator object at 0x108eb9a80>
(10, 20, 30)

2. Set

2.1 Set, collection of unordered objects

. set used in python are similar to mathematical set and can perform         various set operations such as intersection,unioun,difference, and         summetric differnce.
. Set has the characteristic of not allowing duplicates of items with the   value, and unlike sequence type like list or tuple, it is unordered data   type.

2.2 Defining a set

In [34]:
#empty set
numbers = set()
print(numbers)

set()

In [35]:
days_list = ["Mon","Tue","Wed","Thu","Fri","Sat","Sun"]
days_set = set(days_list)
print(days_set) 
#since the set is a collection of unordered elements, indexing cannot be used

{'Fri', 'Sun', 'Mon', 'Sat', 'Wed', 'Tue', 'Thu'}

In [36]:
fruits_tuple = ("apple","orange","water melon")
fruits_set = set(fruits_tuple)
print(fruits_set)

{'orange', 'apple', 'water melon'}

In [37]:
print(set([1,2,3,1,2]))

#It is also posible to create a set from a list as shown above.
#However, in the set data type,
#it there are duplicate elements, they are automatically removed

{1, 2, 3}

In [38]:
# It is also possible to create a set from a string
# In this case, each character becomes a single element.

print(set("abcdefa"))

{'d', 'b', 'f', 'a', 'e', 'c'}

In [39]:
h_str = "hello"
h_set = set(h_str)

print(h_set)

{'o', 'e', 'h', 'l'}

2.3 Membership operators for searching specific elements: in,not in

In [41]:
numbers = {2,1,3}

if 1 in numbers:
    print("There is a 1 in the set.")
    
if 7 not in numbers:
    print("There is not a 7 in the set.")

There is a 1 in the set.
There is not a 7 in the set.

2.4 Difference between a set and a sequence data type

. sets are unordered collections of unique elements and do not allow         duplicates. Therefore, a set is not a sequence data type and do not have   the index. (indexing and slicing are meaningless)

In [43]:
numbers = {1,2,3}

numbers.add(4) #add element to set 
print(numbers)

numbers.remove(1) #remove element to set 
print(numbers)

{1, 2, 3, 4}
{2, 3, 4}

2.5 Accessing sets using loops with iterable data type

In [52]:
numbers = {2,3,6,5,9,4,7}

for x in numbers :
    print(x,end=" ")
          
print()
print()
print("sorted set")

for x in sorted(numbers):
    print(x,end=" ")

2 3 4 5 6 7 9

sorted set
2 3 4 5 6 7 9

2.6 Sorting with the sorted function

In [57]:
numbers = {2,3,6,5,9,4,7}
print(type(numbers))
print(numbers)

numbers = sorted(numbers)
print(type(numbers))
print(numbers)
print("After sorted it become a list")

<class 'set'>
{2, 3, 4, 5, 6, 7, 9}
<class 'list'>
[2, 3, 4, 5, 6, 7, 9]
After sorted it become a list

2.7 Creating sets using one-liner loop

In [58]:
a = {i for i in "apple"}

print(a)

{'e', 'a', 'l', 'p'}

2.8 Creating sets using one-line expressions with loops and conditions

In [60]:
a = {i for i in "pineapple" if i not in "apl"}

print(a)

{'e', 'n', 'i'}

2.9 Built-in functions that take a set as parameter

In [63]:
a_set = {1,5,4,3,7,4}
print(len(a_set))

print(max(a_set))
print(min(a_set))
print(sorted(a_set))
print(sum(a_set))

b_set = {1,0,2,3,3}
print(all(b_set), any(b_set))

5
7
1
[1, 3, 4, 5, 7]
20
False True

3.2 Union operator and method

#